routes:
  - uri: /hello
    upstream:
      nodes:
        "127.0.0.1:1980": 1
      type: roundrobin
  - uri: /hello2
    upstream:
      nodes:
        "127.0.0.1:1981": 1
      type: roundrobin
#END
