apisix:
  node_listen: ${apisix_node_listen}
  enable_ipv6: false
  enable_control: true
  control:
    ip: "0.0.0.0"
    port: ${apisix_control_port}
deployment:
  role: data_plane
  role_data_plane:
    config_provider: yaml
  admin:
    allow_admin:
      - 0.0.0.0/0
    admin_key:
      - name: "admin"
        key: ${apisix_admin_key}
        role: admin
plugin_attr:
  prometheus:
    export_addr:
      ip: "0.0.0.0"
      port: ${apisix_prometheus_export_port}
